{
  "extends": "stylelint-config-htmlacademy",

  "plugins": [
    "stylelint-order"
  ],

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],

    "max-empty-lines": 1,
    "at-rule-empty-line-before": ["always", {
      "except": ["first-nested"],
      "ignore": ["blockless-after-same-name-blockless"]
    }],
    "declaration-empty-line-before": ["always", {
      "ignore": ["after-declaration", "first-nested"]
    }],

    "order/order": [
      "custom-properties",
      {
        "type": "at-rule"
      },
      "declarations",
      "rules",
      {
        "type": "rule",
        "selector": /^&:\w/
      },
      {
        "type": "rule",
        "selector": /^&/
      }
    ],
  }
}
