.about {
  @include img-zigzag-line;

  position: relative;
}

@media (min-width: $tablet-width) {
  .about {
    padding: 0 50px 90px 50px;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 70px;

    &::before {
      width: calc(100% - 100px);
      left: 50px;
    }
  }
}
