.about {
  @include img-zigzag-line;

  position: relative;
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .about {
    padding: 0;
    padding-bottom: 90px;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 70px;
    padding: 0 50px;
    padding-bottom: 89px;

    &::before {
      width: calc(100% - 100px);
      left: 50px;
    }
  }
}
