.basket {
  display: none;

  & svg {
    fill-opacity: 0.2;
    fill: #231f20;
    margin-right: 32px;
  }
}

.basket__link {
  text-decoration: none;
  color: $font-color;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .basket {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
