.basket {
  & svg {
    fill: $fill-svg-black;
    fill-opacity: 0.2;
    margin-right: 32px;
  }
}

.basket__link {
  text-decoration: none;
  color: $color-gray;
  font-weight: 700;
}

@media (max-width: $mobile-width-only) {
  .basket {
    display: block;
    padding: 30px 0;
    position: relative;
    padding-left: calc(50% - 85px);

    & svg {
      position: absolute;
      left: calc(50% - 130px);
    }
  }

  .basket__link {
    font-size: 17px;
    line-height: 21px;
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .basket {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    & svg {
      &:hover {
        fill: $color-green;
        fill-opacity: 1;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .basket__link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
