.btn-radio {
  display: flex;
}

/* .btn-radio__icon {
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    display: none;
    top: 12px;
    left: 13px;
    width: 16px;
    height: 16px;
    background: $color-lime;
    border-radius: 50%;
  }
}

#btn-radio-on:checked~.btn-radio__icon::before,
#btn-radio-off:checked~.btn-radio__icon::before {
  display: block;
} */

.btn-radio__input {
  @include visually-hidden;

  margin: 0;
}

.btn-radio__label {
  @include font-label;

  padding-left: 22px;
  padding-top: 10px;
}
