.btn-checkbox {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.btn-checkbox__input {
  @include visually-hidden;

  margin: 0;
}

.btn-checkbox__label {
  @include font-label;

  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover::before {
    border-color: $color-lime;
  }

  &:active::before {
    border-color: $color-gray;
    opacity: 0.3;
  }

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid $color-gray;
    box-sizing: border-box;
    margin-right: 22px;
  }
}

.btn-checkbox__input:checked ~ .btn-checkbox__label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 22px;
  height: 22px;
  background: url("../img/imgInline/icon-tick.svg") no-repeat center;
}

@media (min-width: $tablet-width) {
  .btn-checkbox {
    width: 50%;
    margin-bottom: 24px;

    &:nth-child(odd) {
      margin-bottom: 0;
    }
  }

  .btn-checkbox__label {
    &::before {
      width: 54px;
      height: 52px;
    }
  }

  .btn-checkbox__input:checked ~ .btn-checkbox__label::after {
    top: 12px;
    left: 12px;
    width: 32px;
    height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .btn-checkbox {
    width: calc(100% / 3);

    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}
