.button {
  font-size: 17px;
  font-weight: 700;
  color: $color-gray;
  text-transform: uppercase;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-gray;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: $color-gray;
    color: $color-white;
  }

  &:active {
    color: $color-white-opacity;
  }
}
