.field-data__label {
  @include font-label;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field-data__input {
  font-size: 18px;
  padding: 17px 0;
  border: none;
  border-bottom: 2px solid $title-color;
  @include placeholder {
    color: #4444444d;
  }
}

.field-data  {
  &:last-child .field-data__label {
    margin-bottom: 0;
  }
}
