.field-data__label {
  // Улетели иконки
  @include font-label;

  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  position: relative;

  & svg {
    position: absolute;
    right: 0;
    fill-opacity: 0.2;
    fill: $fill-svg-black;
  }
}

.field-data__input {
  @include placeholder {
    color: $color-gray-opacity;
  }

  font-size: 18px;
  padding: 14px 0;
  border: none;
  border-bottom: 2px solid $title-color;

  &:hover {
    border-color: $color-lime;
  }

  &--tel {
    padding: 18px 0;
  }

  &--email {
    padding-top: 24px;
    padding-bottom: 13px;
  }
}

.field-data {
  &:last-child .field-data__label {
    margin-bottom: 0;
  }

  &--phone {
    width: 100%;

    & svg {
      top: calc(50% - 13px);
      right: 9px;
    }
  }

  &--email {
    width: 100%;

    & svg {
      top: calc(50% - 11px);
      right: 4px;
    }
  }
}

.field-data__input:hover ~ svg {
  fill: $color-green;
  fill-opacity: 1;
}

.field-data__label-text {
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .field-data {
    &--phone svg {
      top: calc(50% - 15px);
      right: 26px;
    }

    &--email svg {
      top: calc(50% - 15px);
      right: 22px;
    }
  }

  .field-data__input {
    width: 100%;
    outline: none;
    padding: 14px 0 14px 16px;

    &--tel {
      background: $color-light-gray;
      width: 100%;
    }

    &--email {
      background: $color-light-gray;
      width: 100%;
    }
  }

  .field-data__label {
    flex-direction: row;
    margin-bottom: 26px;
  }

  .field-data__label-text {
    margin-right: 30px;
    padding: 14px 0;
  }
}

@media (min-width: $desktop-width) {
  .field-data {
    &--phone svg {
      right: 7px;
    }

    &--email svg {
      right: 3px;
    }
  }

  .field-data__label {
    margin-bottom: 25px;
  }
}
