.form {
  padding: 25px 30px 55px;
}

.form__preface {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 25px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 30px;
}

.form__title {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background: $color-lime;
  }
}

.form__title-legend {
  min-width: 62px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-lime;
}

.form__title-legend--email {
  min-width: 81px;
}

.form__list {
  @include list-dumping;

  padding-top: 25px;
}

.form__textarea {
  @include font-label;
  @include placeholder {
    color: $font-color_opc;
  }

  width: 100%;
  min-height: 162px;
  margin: 0;
  padding: 15px;
  margin-top: 22px;
  margin-bottom: 16px;
  border: 2px solid $title-color;
  box-sizing: border-box;
  font-family: $font;
  font-weight: 400;
}

.form__footnote-surely {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}

.form__btn-sending {
  @include button;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 75px 0 50px;
  }

  .form__main-contents {
    display: flex;
    align-items: flex-start;

    &--addition {
      flex-wrap: wrap;
    }
  }

  .form__textarea {
    margin: 0;
    margin-bottom: 50px;
    width: calc(100% - 165px);
  }

  .form__list {

    &--radio {
      padding: 0;
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    &--fio {
      padding: 0;
      width: 100%;
    }
  }

  .form__fieldset {
    margin-bottom: 50px;
    padding: 0 50px;

    &--checkbox {
      background: $color-grey;
      padding: 50px;
    }

    &--tel {
      background: $color-grey;
      margin: 0;
      padding-top: 60px;
      padding-bottom: 15px;
    }

    &--email {
      background: $color-grey;
      margin-bottom: 50px;
      padding-top: 15px;
      padding-bottom: 50px;
    }
  }

  .form__preface {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
    margin-bottom: 55px;
  }

  .form__title {
    width: auto;
    min-width: 165px;

    &::after {
      display: none;
    }
  }

  .form__btn-sending {
    width: auto;
    padding: 14px 30px;
    font-size: 17px;
  }

  .form__footnote-surely {
    order: 3;
    margin: 0;
    align-self: center;
    font-size: 17px;
    line-height: 30px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .form__preface {
    padding-left: 225px;
    padding-right: 240px;
  }

  .form__fieldset {
    padding-right: 225px;
    padding-left: 115px;

    &--checkbox {
      padding-right: 190px;
    }
  }

  .form__title {
    min-width: 110px;
  }

  .form__textarea {
    width: calc(100% - 110px);
  }

  .form__btn-sending {
    margin-left: 110px;
  }
}
