.main-nav {
  line-height: 0;
}

.main-nav__toggle {
  font-size: 0;
  line-height: 0;
  border: none;
  background: url('../img/icon-menu-open.svg') no-repeat center center;
  width: 20px;
  height: 14px;
}

.page-header__logo {
  line-height: 11px;
  margin-right: 25%;
}
