.page-main__title {
  @include title-h1;

  text-align: center;
  padding-top: 71px;
  padding-bottom: 75px;
  background: $color-light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    @include img-zigzag-fill;

    min-height: 75px;
    font-size: 43px;
    line-height: 50px;
    position: relative;
    padding-top: 83px;
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    @include fontsize-desktop;

    padding-top: 71px;
    padding-bottom: 85px;
    min-height: 100px;

    &::before {
      height: 37px;
      background-size: 65%;
    }
  }
}
