.production-process {
  line-height: 0;
  display: flex;
  flex-direction: column;
}

.production-process__wrapper {
  display: flex;
  align-items: center;
  border: $border;
  padding: 26px 33px;

  & svg {
    flex-shrink: 0;
  }
}

.production-process__title {
  @include title-h3;
}

.production-process__link-title {
  text-decoration: none;
  margin-left: 25px;
}

.production-process__wrapper-container {
  padding: 33px;
  border: $border;
}

.production-process__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 27px;
}

.production-process__btn-order {
  @include button;
}

.production-process__wrapper-video {
  display: flex;
  justify-content: center;
}
.production-process__video {
  @include img-maxsize;
}

.production-process__video-tablet {
  display: none;
}

.production-process__video-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .production-process__wrapper-container {
    order: 3;
    border-top: none;
    padding-top: 17px;
    padding-bottom: 45px;
  }

  .production-process__wrapper {
    order: 2;
    border-bottom: none;
    padding-bottom: 13px;
  }

  .production-process__video-tablet {
    display: block;

    @include img-maxsize;
  }

  .production-process__video {
    display: none;
  }

  .production-process__title {
    font-size: 20px;
    line-height: 24px;
  }

  .production-process__description {
    font-size: 15px;
    line-height: 30px;
  }

  .production-process__btn-order {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    flex-direction: row;
  }

  .production-process__video-desktop {
    display: block;

    @include img-maxsize;
  }

  .production-process__video-tablet {
    display: none;
  }

  .production-process__wrapper-general {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: calc(100% - 714px);
    box-sizing: border-box;
    border: $border;
  }

  .production-process__wrapper-video {
    width: calc(100% - 384px);
    flex-shrink: 0;
  }

  .production-process__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 130px;
    padding-left: 80px;
    border: none;
  }

  .production-process__link-title {
    margin: 0;
    margin-top: 25px;
  }

  .production-process__wrapper-container {
    padding-left: 80px;
    border: none;
  }

  .production-process__btn-order {
    width: auto;
    padding: 14px 40px;
  }
}
