.product-list {
  @include list-dumping;
}

.product-list__item {
  width: 100%;

  & a {
    text-decoration: none;
    font-weight: 700;
    color: $color-gray;
  }
}

@media (max-width: $mobile-width-only) {
  .product-list__item {
    padding: 30px 0;
    border-bottom: $border;
    padding-left: calc(50% - 85px);

    & a {
      font-size: 17px;
    }
  }
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    line-height: initial;
  }

  .product-list__item {
    min-width: 185px;
    box-sizing: border-box;

    & a:hover {
      opacity: 0.6;
    }

    & a:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-list__item:first-child {
    border-right: $border;
  }

  .product-list__item {
    box-sizing: border-box;
    min-width: 185px;
    padding: 33px 0;
  }

  .product-list__item:last-child {
    width: auto;
    padding-left: 35px;
  }
}
