.production-process {
  line-height: 0;
  display: flex;
  flex-direction: column;
  border: $border;
}

.production-process__title {
  text-decoration: none;
  margin-left: 25px;

  & h3 {
    @include title-h3;
  }
}

.production-process__title-blocks {
  display: flex;
  padding: 25px 40px 25px 33px;
  align-items: center;

  & svg {
    flex-shrink: 0;
  }
}

.production-process__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  padding: 30px 33px 0 33px;
  margin-bottom: 27px;
}

.production-process__btn-order {
  margin: 0 33px 32px 33px;
  padding: 0;
}

.production-process__btn-play {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 38px);

  &:active,
  &:focus {
    outline: none;
  }
}

.production-process__video-wrap {
  position: relative;
}

.production-process__video {
  @include img-maxsize;
}

@media (min-width: $tablet-width) {
  .production-process {
    &:hover::before {
      content: "";
      position: absolute;
      top: -1px;
      right: 0;
      width: 383px;
      height: 100%;
      box-shadow: 6px 0 10px #0000001a;
      z-index: -1;
    }

    &:active::before {
      box-shadow: 3px 0 5px #0000001a;
    }
  }

  .production-process__title {
    margin-left: 33px;

    & h3 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .production-process__description {
    font-size: 15px;
    line-height: 30px;
    padding: 0 40px;
    order: 2;
  }

  .production-process__title-blocks {
    padding: 38px 40px;
    order: 1;
  }

  .production-process__btn-order {
    font-size: 17px;
    order: 3;
    margin: 0 40px 45px 40px;
    outline: none;
  }

  .production-process__btn-play {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.3;
      transition: transform 0.3s;
    }
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    flex-direction: column;
    position: relative;
    padding: 45px 55px 60px calc(65% + 82px);
    min-height: 457px;
    box-sizing: border-box;
  }

  .production-process__title-blocks {
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }

  .production-process__title {
    margin: 0;
    margin-top: 25px;
    padding-right: 20px;
    margin-bottom: 35px;
  }

  .production-process__btn-order {
    margin: 0;
  }

  .production-process__description {
    margin-bottom: auto;
    padding: 0;
  }

  .production-process__video-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 714px;
  }
}
