.product-list {
  @include list-dumping;
}

.product-list__item {
  width: 100%;

  & a {
    text-decoration: none;
    font-weight: 700;
    color: $color-gray;
  }
}

@media (max-width: $mobile-width-only) {
  .product-list__item {
    padding: 30px 0;
    border-bottom: $border;
    padding-left: calc(50% - 85px);
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    line-height: initial;
  }

  .product-list__item {
    min-width: 167px;
    box-sizing: border-box;

    & a:hover {
      opacity: 0.6;
    }

    & a:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-list__item {
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;

    &:first-child {
      border-right: $border;
      width: 185px;
    }

    &:last-child {
      width: auto;
      padding-left: 35px;
    }
  }
}
