.product-week {
  padding: 0 30px 35px;
  background: url(../img/bg-zigzag-line.svg) no-repeat center bottom;
}

.product-week__title {
  @include title-h2;
  padding: 34px 0 6px;
}

.product-week__title-popular {
  margin: 0;
  font-family: $font;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-green;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.product-week__description {
  margin: 0;
  margin-bottom: 20px;
}

.product-week__image-tablet {
  display: none;
}

.product-week__list {
  width: 100%;
  border-collapse: collapse;
}

.product-week__line {
  padding: 10px 0;
  border-bottom: $border;
  display: block;
}

.product-week__value {
  min-width: 100px;
}

.product-week__image-wrapper {
  padding: 28px 0;
  text-align: center;
}

.product-week__price {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;
}

.product-week__link-order {
  @include button-link;
  text-decoration: none;
}

.product-week__image-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .product-week {
    padding: 0 50px 75px;
    /* background: url(../img/bg-zigzag-fill.svg) no-repeat center top; */
    display: flex;
    flex-wrap: wrap;
  }

  .product-week__title-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }

  .product-week__title-popular {
    margin: 0;
    padding: 34px 0 6px;
    width: 72px;
    text-align: center;
  }

  .product-week__wrapper-characteristics {
    width: 50%;
    padding-right: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .product-week__image {
    display: none;
  }

  .product-week__image-tablet {
    display: block;

    @include img-maxsize;
  }

  .product-week__image-wrapper {
    padding: 0;
    width: 50%;
  }

  .product-week__price-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    padding: 0 100px;
    padding-bottom: 70px;
  }

  .product-week__title {
    order: 2;
    padding: 0;

    @include fontSize-desktop;
  }

  .product-week__title-popular {
    padding: 0;
    padding-left: 51px;
    padding-right: 51px;
  }

  .product-week__title-wrapper {
    justify-content: flex-start;
    transform: translateY(170px);
    align-items: center;
  }

  .product-week__image-tablet {
    display: none;
  }

  .product-week__image-desktop {
    display: block;

    @include img-maxsize;
  }

  .product-week__wrapper-characteristics {
    padding-left: 177px;
    padding-top: 160px;
  }
}
