.responses {
  margin: 0;
  padding: 0 30px 45px;
  background: url("../img/bg-zigzag-line.svg") no-repeat center bottom;
}

.responses__title {
  @include title-h2;

  margin-bottom: 30px;
}

.responses__description {
  line-height: 30px;
  margin: 0;
}

.responses__author {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 35px;
}

.responses__profile {
  font-weight: 400;
  margin-top: 10px;
  display: block;
  font-style: normal;
}

.responses__slider-toggles {
  display: flex;
  margin: 0;
  margin-bottom: 38px;
}

.responses__toggle {
  font-size: 0;
  line-height: 0;
  width: 50%;
  padding: 26px 0;
  background-color: $color-white;
  border: $border;
  cursor: pointer;

  &--following {
    border-right: none;
    background: url("../img/icon-left-arrow.svg") no-repeat center;
  }

  &--previous {
    background: url("../img/icon-right-arrow.svg") no-repeat center;
  }
}

.responses__btn {
  @include button;
}

@media (min-width: $tablet-width) {
  .responses {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/review@2x.jpg") no-repeat center left;
      background-size: contain;
    }

    padding: 0 50px 45px;
    background: url("../img/review@1x.jpg") no-repeat center left;
  }

  .responses__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .responses__block {
    display: flex;
    flex-wrap: wrap;
  }

  .responses__description {
    order: 3;
    margin-bottom: 60px;
  }

  .responses__author {
    order: 4;
  }

  .responses__slider-toggles {
    order: 5;
    margin-left: auto;
    width: 26%;
  }

  .responses__toggle {
    border: none;
  }

  .responses__btn {
    order: 2;
    display: flex;
    align-self: flex-end;
    padding: 16px 40px;
    width: auto;
    margin-bottom: 50px;
    margin-top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .responses {
    padding: 0;
    padding-left: 177px;
    padding-bottom: 50px;
  }

  .responses__title {
    @include fontsize-desktop;

    margin-top: 50px;
  }

  .responses__btn {
    margin-top: 50px;
  }

  .responses__slider-toggles {
    width: 21%;
  }

  .responses__toggle {
    padding: 25px 0;
  }
}
