.sections-product {
  background: #fafafa url(../img/hero-mobile@1x.jpg) no-repeat center -18px;
}

.sections-product__title {
  @include title-h2;
  color: #010000;
  font-size: 27px;
  padding: 22px 0 70px;
  min-height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sections-product__title-center {
  display: block;
}

.sections-product__list {
  @include list-dumping;
}

.sections-product__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 27px 0 30px;
  min-height: 103px;
  &--home-decoration {
    background: #63d1bb;
  }
  &--home-decoration svg {
    fill: #3bb09d;
    padding-left: 30px;
    padding-right: 9px;
    flex-shrink: 0;
  }
  &--children-toys {
    background: #56c3b2;
  }
  &--children-toys svg {
    fill: #35a999;
    padding-left: 30px;
    flex-shrink: 0;
  }
}

.sections-product__link {
  font-family: $font;
  font-weight: 700;
  display: block;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .sections-product__title {
    min-height: 300px;
    padding: 100px 0 140px;
  }

  .sections-product {
    background: #fafafa url(../img/hero-tablet@1x.jpg) no-repeat center -18px;
  }

  .sections-product__list {
    display: flex;
    padding: 0 50px;
  }

  .sections-product__item {
    flex-grow: 1;
    min-height: 120px;
    width: 50%;
    &--children-toys svg {
      padding-left: 100px;
    }
    &--home-decoration svg {
      padding-left: 100px;
    }
  }
}

@media (min-width: $desktop-width) {
  .sections-product {
    background: #fafafa url(../img/hero-desktop@1x.jpg) no-repeat center -18px;
  }

  .sections-product__title {
    display: block;
    width: 55%;
    text-align: center;
    margin: 0 auto;

    @include fontSize-desktop;

    padding: 143px 0 183px;
  }

  .sections-product__list {
    padding: 0 100px;
  }

  .sections-product__title-center {
    display: inline-block;
  }
}
