.shortly-about {
  padding: 27px 30px 0;
  margin-bottom: 54px;
}

.shortly-about__title {
  @include title-h2;

  margin-bottom: 30px;
}

.shortly-about__list {
  @include list-dumping;
}

.shortly-about__item {
  min-height: 97px;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $title-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & svg path {
    fill: $color-lime;
  }
}

@media (min-width: $tablet-width) {
  .shortly-about {
    padding: 47px 50px 0;
    margin-bottom: 28px;
  }

  .shortly-about__list {
    columns: auto 2;
    padding-right: 16px;
  }

  .shortly-about__title {
    @include font-title-tablet;

    margin-bottom: 47px;
  }

  .shortly-about__item {
    min-height: 100px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-bottom: 90px;
  }

  .shortly-about {
    padding-top: 60px;
    padding-left: 176px;
    margin-bottom: 35px;
  }

  .shortly-about__title {
    @include fontsize-desktop;
  }

  .shortly-about__list {
    padding-right: 140px;
  }
}
