.shortly-about {
  padding: 30px 30px 0;
  margin-bottom: 60px;
}

.shortly-about__title {
  @include title-h2;

  margin-bottom: 30px;
}

.shortly-about__list {
  @include list-dumping;
}

.shortly-about__item {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $title-color;

  & svg {
    margin-bottom: 25px;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .shortly-about {
    padding: 30px 50px 0;
  }

  .shortly-about__list {
    columns: auto 2;
  }
}

@media (min-width: $desktop-width) {
  .shortly-about {
    padding-top: 60px;
    padding-left: 177px;
  }

  .shortly-about__title {
    @include fontsize-desktop;
  }
}
