.shortly-about {
  padding: 30px 30px 0;
  margin-bottom: 60px;
}

.shortly-about__title {
  @include title-h2;
  margin-bottom: 30px;
}

.shortly-about__list {
  @include list-dumping;
}

.shortly-about__item {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $title-color;
  & svg {
  margin-bottom: 25px;
  }
}

.shortly-about__item svg {
  display: block;
}

@media (min-width: $tablet-width) {
  .shortly-about {
    padding: 30px 50px 0;;
  }

  .shortly-about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .shortly-about__item {
    width: 50%;
    &--scandinavian-style {
      order: 2;
    }
    &--addition-likes {
      order: 4;
    }
    &--connected-manually {
      order: 1;
    }
    &--domestic-manufacturer {
      order: 3;
    }
    &--gift-container {
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .shortly-about {
    padding-top: 60px;
    padding-left: 177px;
  }

  .shortly-about__title {
    @include fontSize-desktop;
  }
}
