@media (min-width: $tablet-width) {
  .site-list {
    @include list-dumping;

    display: flex;
    line-height: initial;
  }

  .site-list__item {
    & a {
      text-decoration: none;
      font-weight: 700;
      color: $font-color;
    }
  }

  .site-list__item:last-child  {
    width: auto;
    padding-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item:first-child {
    border-right: $border;
  }

  .site-list__item {
    box-sizing: border-box;
    min-width: 185px;
    padding: 33px 0;
  }

}

