.site-nav {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    position: relative;
  }

  .site-nav__list {
    position: absolute;
    top: calc(100% + 63px);
    z-index: 10;
  }
}

@media (min-width: $desktop-width) {
  .site-nav__list {
    position: static;
  }
}
