@media (max-width: $mobile-width-only) {
  .site-nav {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    position: relative;
  }

  .site-nav__product {
    position: absolute;
    top: calc(100% + 63px);
    z-index: 10;
  }
}

@media (min-width: $desktop-width) {
  .site-nav__product {
    position: static;
  }
}
