.user-nav {
  line-height: 0;
}

.user-nav__toggle {
  font-size: 0;
  line-height: 0;
  border: none;
  background: url("../img/icon-menu-open.svg") no-repeat center center;
  width: 20px;
  height: 14px;
}

@media (min-width: $tablet-width) {
  .user-nav {
    padding-left: 32px;
  }

  .user-nav__toggle {
    display: none;
  }
}
