@charset "UTF-8";
/* Граница */
/* Цвета */
/* Шрифт */
/* Размеры экранов */
/* эта папка уже не используется */
.container {
  max-width: 1200px;
  margin: 0 auto; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 21px 30px 22px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.main-nav__logo {
  line-height: 0;
  margin-right: calc(50% - 53px); }

.main-nav__toggle {
  font-size: 0;
  line-height: 0;
  border: none;
  background: url("../img/icon-menu-open.svg") no-repeat center center;
  width: 20px;
  height: 14px; }

.main-nav__search-input,
.main-nav__delivery {
  display: none; }

@media (max-width: 767px) {
  .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
    .main-nav--opened .main-nav__toggle {
      background: url("../img/icon-menu-close.svg") no-repeat center center;
      width: 20px;
      height: 20px; }
    .main-nav--closed .main-nav__logo {
      border-bottom: none; }
    .main-nav--closed .product-list,
    .main-nav--closed .main-nav__search,
    .main-nav--closed .user-nav {
      display: none; }
    .main-nav--no-js .main-nav__toggle {
      display: none; }
  .main-nav__search {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #ececec;
    position: relative; }
    .main-nav__search svg {
      position: absolute;
      left: calc(50% - 130px);
      fill-opacity: 0.2;
      fill: #231f20; }
  .main-nav__search-btn {
    border: none;
    background: transparent;
    font-weight: 700;
    color: #444444;
    font-size: 17px;
    padding: 0;
    padding-left: calc(50% - 85px); }
  .main-nav__toggle {
    position: absolute;
    top: 31px;
    right: 30px; }
  .main-nav__logo {
    margin-right: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ececec; } }

@media (min-width: 768px) {
  .main-nav {
    padding: 0 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 0;
    position: relative; }
  .main-nav__logo {
    margin: 0;
    min-width: 320px;
    padding: 20px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .main-nav__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 46px;
    width: 82px;
    padding: 20px 0; }
  .main-nav__search-btn {
    font-size: 0;
    line-height: 0;
    border: none;
    cursor: pointer;
    background: none;
    opacity: 0.2; }
  .main-nav__delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-decoration: none;
    color: #444444;
    margin-left: auto;
    position: absolute;
    top: calc(100% + 30px);
    z-index: 10; }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 1200px) {
  .main-nav__logo {
    min-width: auto;
    margin: 0 auto;
    padding: 0; }
  .main-nav__search {
    margin: 0;
    margin-left: 30px; } }

.sections-product {
  background-color: #fafafa;
  position: relative; }

.sections-product__main {
  background: url("../img/hero-mobile@1x.jpg") no-repeat center -18px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .sections-product__main {
      background: url("../img/hero-mobile@2x.jpg") no-repeat center -18px;
      background-size: 575px auto; } }

.sections-product__title {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  color: #010000;
  font-size: 27px;
  padding: 22px 0 70px;
  min-height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sections-product__title-center {
  display: block; }

.sections-product__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sections-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 27px 0 30px;
  min-height: 103px; }
  .sections-product__item--home-decoration {
    background: #63d1bb; }
  .sections-product__item--home-decoration svg {
    fill: #3bb09d;
    padding-left: 30px;
    padding-right: 9px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .sections-product__item--children-toys {
    background: #56c3b2; }
  .sections-product__item--children-toys svg {
    fill: #35a999;
    padding-left: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.sections-product__link {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 700;
  display: block;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none; }

@media (min-width: 768px) {
  .sections-product::before {
    content: "";
    width: 100%;
    height: 34px;
    position: absolute;
    bottom: -1px;
    background: url("../img/bg-zigzag-fill.svg") repeat-x center; }
  .sections-product__title {
    font-size: 43px;
    line-height: 50px;
    min-height: 300px;
    padding: 100px 0 140px; }
  .sections-product__main {
    background: url("../img/hero-tablet@1x.jpg") no-repeat center -18px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .sections-product__main {
      background: url("../img/hero-tablet@2x.jpg") no-repeat center -18px;
      background-size: 1150px auto; } }

@media (min-width: 768px) {
  .sections-product__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px; }
  .sections-product__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 120px;
    width: 50%; }
    .sections-product__item--children-toys svg {
      padding-left: 100px; }
    .sections-product__item--home-decoration svg {
      padding-left: 100px; } }

@media (min-width: 1200px) {
  .sections-product {
    margin-bottom: 70px; }
  .sections-product__main {
    background-size: cover; }
  .sections-product__title {
    font-size: 53px;
    line-height: 57px;
    display: block;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    padding: 143px 0 183px; }
  .sections-product__title-center {
    display: inline-block; } }

.product-week {
  padding: 0 30px 35px;
  background: url("../img/bg-zigzag-line.svg") repeat-x center bottom;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.product-week__title h2 {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 34px 0 6px; }

.product-week__title h3 {
  margin: 0;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin-bottom: 27px; }

.product-week__description {
  margin: 0;
  margin-bottom: 20px; }

.product-week__list {
  width: 100%;
  border-collapse: collapse; }

.product-week__line {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  display: block; }

.product-week__value {
  min-width: 100px; }

.product-week__image-wrap {
  padding: 28px 0;
  text-align: center; }

.product-week__price {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px; }

.product-week__order {
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-align: center;
  border: 2px solid #444444;
  padding: 14px 0;
  text-decoration: none; }

@media (min-width: 768px) {
  .product-week {
    padding: 0 50px 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product-week__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    padding: 34px 0 6px; }
    .product-week__title h2 {
      padding: 0; }
    .product-week__title h3 {
      margin: 0;
      padding: 0;
      width: 72px;
      text-align: center; }
  .product-week__characteristics {
    padding-right: calc(50% + 60px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative; }
  .product-week__image {
    width: 100%; }
  .product-week__image-wrap {
    padding: 0;
    width: 334px;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .product-week__price-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 97px;
    width: 100%; } }

@media (min-width: 1200px) {
  .product-week {
    padding-bottom: 70px;
    position: relative; }
  .product-week__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .product-week__title h2 {
      font-size: 53px;
      line-height: 57px;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding: 0; }
    .product-week__title h3 {
      padding: 0;
      padding-left: 51px;
      padding-right: 51px; }
  .product-week__image-wrap {
    width: 550px;
    top: 0;
    right: 50px;
    z-index: -1; }
  .product-week__price-order {
    margin-top: 211px; }
  .product-week__characteristics {
    padding-left: 177px;
    padding-right: calc(50% + 60px);
    position: static; } }

.page-main__title {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding: 75px 0;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .page-main__title {
    min-height: 75px;
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1200px) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px;
    min-height: 100px; } }

.page-footer {
  background: #f1f1f1;
  padding: 0 30px; }

.page-footer__logo {
  display: none; }

@media (min-width: 768px) {
  .page-footer__logo, .page-footer__social, .page-footer__copyright {
    width: calc(100% / 3); }
  .page-footer__logo {
    display: block; }
  .page-footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media (min-width: 1200px) {
  .page-footer {
    padding: 0; }
  .page-footer__menu {
    padding: 50px; } }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.shortly-about {
  padding: 30px 30px 0;
  margin-bottom: 60px; }

.shortly-about__title {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px; }

.shortly-about__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.shortly-about__item {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000; }
  .shortly-about__item svg {
    margin-bottom: 25px;
    display: block; }

@media (min-width: 768px) {
  .shortly-about {
    padding: 30px 50px 0; }
  .shortly-about__list {
    -webkit-columns: auto 2;
       -moz-columns: auto 2;
            columns: auto 2; } }

@media (min-width: 1200px) {
  .shortly-about {
    padding-top: 60px;
    padding-left: 177px; }
  .shortly-about__title {
    font-size: 53px;
    line-height: 57px; } }

.about {
  background: url("../img/bg-zigzag-line.svg") repeat-x center bottom; }

@media (min-width: 768px) {
  .about {
    padding: 0 50px 90px 50px;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media (min-width: 1200px) {
  .about {
    margin-bottom: 70px; } }

.responses {
  margin: 0;
  padding: 0 30px 45px; }

.responses__title {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px; }

.responses__description {
  line-height: 30px;
  margin: 0; }

.responses__author {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 35px; }

.responses__profile {
  font-weight: 400;
  margin-top: 10px;
  display: block;
  font-style: normal; }

.responses__slider-toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 38px; }

.responses__toggle {
  font-size: 0;
  line-height: 0;
  width: 50%;
  padding: 26px 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
  cursor: pointer; }
  .responses__toggle--following {
    border-right: none;
    background: url("../img/icon-left-arrow.svg") no-repeat center; }
  .responses__toggle--previous {
    background: url("../img/icon-right-arrow.svg") no-repeat center; }

.responses__btn {
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-align: center;
  border: 2px solid #444444;
  padding: 14px 0;
  width: 100%;
  background: transparent;
  cursor: pointer; }

@media (min-width: 768px) {
  .responses {
    padding: 0 50px 45px;
    background: url("../img/review@1x.jpg") no-repeat center left; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .responses {
      background: url("../img/review@2x.jpg") no-repeat center left;
      background-size: contain; } }

@media (min-width: 768px) {
  .responses__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 80px; }
  .responses__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .responses__description {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 60px; }
  .responses__author {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .responses__slider-toggles {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-left: auto;
    width: 26%; }
  .responses__toggle {
    border: none; }
  .responses__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 16px 40px;
    width: auto;
    margin-bottom: 50px;
    margin-top: 80px; } }

@media (min-width: 1200px) {
  .responses {
    padding: 50px 0 50px 177px; }
  .responses__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 0; }
  .responses__btn {
    margin-top: 0; }
  .responses__slider-toggles {
    width: 21%; }
  .responses__toggle {
    padding: 25px 0; } }

.contacts {
  margin-bottom: 39px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.contacts__communication,
.contacts__btn-write {
  padding: 0 30px; }

.contacts__title h2 {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 35px; }

.contacts__title svg {
  display: none; }

.contacts__block-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 30px; }

.contacts__email {
  text-decoration: none;
  color: inherit;
  padding-bottom: 3px;
  border-bottom: 1px solid #62d1ba; }

.contacts__block-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-style: normal;
  line-height: 30px;
  margin-bottom: 40px; }

.contacts__text {
  min-width: 50px;
  margin-right: 30px; }

.contacts__maps-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 37px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.contacts__btn {
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-align: center;
  border: 2px solid #444444;
  padding: 14px 0;
  width: 100%;
  background: transparent;
  cursor: pointer; }

@media (min-width: 768px) {
  .contacts {
    padding: 0 50px; }
  .contacts__communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px; }
  .contacts__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .contacts__title svg {
      display: block; }
  .contacts__block-email {
    width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: 30px; }
  .contacts__block-adress {
    width: 50%;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .contacts__maps-image {
    margin-bottom: 37px; }
  .contacts__btn-write {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contacts__btn {
    width: auto;
    padding: 15px 40px; } }

@media (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 105px;
    position: relative; }
  .contacts__communication {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 50px 92px 175px; }
  .contacts__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
    position: relative; }
    .contacts__title svg {
      position: absolute;
      left: -110px;
      top: -5px; }
    .contacts__title h2 {
      font-size: 53px;
      line-height: 57px;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin: 0; }
  .contacts__maps {
    width: 550px;
    position: absolute;
    right: 50px; }
  .contacts__maps-image {
    margin: 0; }
  .contacts__block-email {
    width: 100%; }
  .contacts__block-adress {
    width: 100%;
    padding: 0; }
  .contacts__adress {
    padding-right: 20px; }
  .contacts__btn-write {
    width: 50%;
    padding: 0;
    padding-left: 175px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

.catalog {
  padding: 30px 30px 58px; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .catalog {
    padding-top: 80px; } }

@media (min-width: 1200px) {
  .catalog {
    padding: 130px 50px 100px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.catalog-item {
  line-height: 0;
  margin-bottom: 30px; }

.catalog-item__product-description {
  padding: 29px 26px;
  border: 1px solid #ececec; }

.catalog-item__title {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin: 0; }

.catalog-item__link-title {
  text-decoration: none;
  display: block;
  margin-bottom: 10px; }

.catalog-item__description {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 20px; }

.catalog-item__price-favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  border-top: 1px solid #ececec; }

.catalog-item__basket {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .catalog-item__basket svg {
    fill-opacity: 0.2;
    fill: #231f20; }

.catalog-item__price {
  font-weight: 700;
  line-height: 24px; }

.catalog-item__wrapper-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.catalog-item__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%; }

@media (min-width: 768px) {
  .catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 54px; }
  .catalog-item__wrapper-image {
    width: 50%; }
  .catalog-item__product-description {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog-item__title {
    font-size: 20px;
    line-height: 24px; }
  .catalog-item__description {
    font-size: 15px;
    line-height: 30px;
    margin: 0; }
  .catalog-item__price-favorites {
    margin-top: auto;
    font-size: 17px;
    line-height: 24px;
    padding-top: 25px; } }

@media (min-width: 1200px) {
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog-item {
    width: calc(33% - 50px * 2 / 3);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog-item__wrapper-image {
    width: 100%; }
  .catalog-item__product-description {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.production-process {
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ececec; }

.production-process__title {
  text-decoration: none;
  margin-left: 25px; }
  .production-process__title h3 {
    font-family: "Open Sans", arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    margin: 0; }

.production-process__title-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 40px 25px 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .production-process__title-blocks svg {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.production-process__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  padding: 30px 33px 0 33px;
  margin-bottom: 27px; }

.production-process__btn-order {
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-align: center;
  border: 2px solid #444444;
  padding: 14px 0;
  width: 100%;
  background: transparent;
  cursor: pointer;
  margin: 0 33px 32px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto; }

.production-process__video {
  -o-object-fit: cover;
     object-fit: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%; }

@media (min-width: 768px) {
  .production-process__title {
    margin-left: 33px; }
    .production-process__title h3 {
      font-size: 20px;
      line-height: 24px; }
  .production-process__description {
    font-size: 15px;
    line-height: 30px;
    padding: 0 40px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .production-process__title-blocks {
    padding: 38px 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .production-process__btn-order {
    font-size: 17px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 40px 45px 40px; } }

@media (min-width: 1200px) {
  .production-process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 45px 55px 60px calc(65% + 82px);
    min-height: 457px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .production-process__title-blocks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .production-process__title {
    margin: 0;
    margin-top: 25px;
    padding-right: 20px;
    margin-bottom: 35px; }
  .production-process__btn-order {
    margin: 0; }
  .production-process__description {
    margin-bottom: auto;
    padding: 0; }
  .production-process__video-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 714px; } }

.form {
  padding: 25px 30px 55px; }

.form__preface {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 25px; }

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 30px; }

.form__title {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form__title::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #62d1ba; }

.form__title-legend {
  min-width: 62px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #62d1ba; }

.form__title-legend--email {
  min-width: 81px; }

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 25px; }

.form__textarea {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  width: 100%;
  min-height: 162px;
  margin: 0;
  padding: 15px;
  margin-top: 22px;
  margin-bottom: 16px;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 400; }
  .form__textarea::-webkit-input-placeholder {
    color: #4444444d; }
  .form__textarea:-moz-placeholder {
    color: #4444444d; }
  .form__textarea::-moz-placeholder {
    color: #4444444d; }
  .form__textarea:-ms-input-placeholder {
    color: #4444444d; }

.form__footnote-surely {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px; }

.form__btn-sending {
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-align: center;
  border: 2px solid #444444;
  padding: 14px 0;
  width: 100%;
  background: transparent;
  cursor: pointer; }

@media (min-width: 768px) {
  .form {
    padding: 75px 0 50px; }
  .form__main-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .form__main-contents--addition {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .form__textarea {
    margin: 0;
    margin-bottom: 50px;
    width: calc(100% - 165px); }
  .form__list--radio {
    padding: 0;
    padding-top: 4px; }
  .form__list--checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0; }
  .form__list--fio {
    padding: 0;
    width: 100%; }
  .form__fieldset {
    margin-bottom: 50px;
    padding: 0 50px; }
    .form__fieldset--checkbox {
      background: #f1f1f1;
      padding: 50px; }
    .form__fieldset--tel {
      background: #f1f1f1;
      margin: 0;
      padding-top: 60px;
      padding-bottom: 15px; }
    .form__fieldset--email {
      background: #f1f1f1;
      margin-bottom: 50px;
      padding-top: 15px;
      padding-bottom: 50px; }
  .form__preface {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
    margin-bottom: 55px; }
  .form__title {
    width: auto;
    min-width: 165px;
    padding-top: 14px; }
    .form__title::after {
      display: none; }
  .form__btn-sending {
    width: auto;
    padding: 14px 30px;
    font-size: 17px; }
  .form__footnote-surely {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 17px;
    line-height: 30px;
    margin-left: auto; } }

@media (min-width: 1200px) {
  .form__preface {
    padding-left: 225px;
    padding-right: 240px; }
  .form__fieldset {
    padding-right: 225px;
    padding-left: 115px; }
    .form__fieldset--checkbox {
      padding-right: 190px; }
  .form__title {
    min-width: 110px; }
  .form__textarea {
    width: calc(100% - 110px); }
  .form__btn-sending {
    margin-left: 110px; } }

.btn-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .btn-radio:first-child {
    margin-bottom: 10px; }

.btn-radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: 0; }

.btn-radio__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative; }
  .btn-radio__label::before {
    content: "";
    width: 41px;
    height: 41px;
    display: inline-block;
    border: 2px solid #444444;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.btn-radio__input:checked ~ .btn-radio__label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 16px;
  height: 16px;
  background: #62d1ba;
  border-radius: 50%; }

.btn-radio__contents {
  padding-left: 21px;
  width: 200px;
  padding-top: 10px; }

@media (min-width: 768px) {
  .btn-radio {
    width: auto; }
    .btn-radio:first-child {
      margin-bottom: 24px; }
  .btn-radio__contents {
    width: auto; } }

.btn-checkbox {
  margin-bottom: 22px; }
  .btn-checkbox:last-child {
    margin-bottom: 0; }

.btn-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: 0; }

.btn-checkbox__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .btn-checkbox__label::before {
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #444444;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 22px; }

.btn-checkbox__input:checked ~ .btn-checkbox__label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 22px;
  height: 22px;
  background: url("../img/icon-tick.svg") no-repeat center; }

@media (min-width: 768px) {
  .btn-checkbox {
    width: 50%;
    margin-bottom: 24px; }
    .btn-checkbox:nth-child(5) {
      margin-bottom: 0; }
  .btn-checkbox__label::before {
    width: 54px;
    height: 52px; }
  .btn-checkbox__input:checked ~ .btn-checkbox__label::after {
    top: 12px;
    left: 12px;
    width: 32px;
    height: 24px; } }

@media (min-width: 1200px) {
  .btn-checkbox {
    width: calc(100% / 3); }
    .btn-checkbox:nth-child(4) {
      margin-bottom: 0; } }

.field-data__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px; }

.field-data__input {
  font-size: 18px;
  padding: 14px 0;
  border: none;
  border-bottom: 2px solid #000000; }
  .field-data__input::-webkit-input-placeholder {
    color: #4444444d; }
  .field-data__input:-moz-placeholder {
    color: #4444444d; }
  .field-data__input::-moz-placeholder {
    color: #4444444d; }
  .field-data__input:-ms-input-placeholder {
    color: #4444444d; }

.field-data:last-child .field-data__label {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .field-data--phone {
    width: 100%; }
  .field-data--email {
    width: 100%; }
  .field-data__input {
    width: 100%; }
    .field-data__input--tel {
      background: #f1f1f1;
      width: 100%; }
    .field-data__input--email {
      background: #f1f1f1;
      width: 100%; }
  .field-data__label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .field-data__label-text {
    margin-right: 25px;
    padding: 14px 0; } }

.social {
  border-bottom: 1px solid #ececec; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0; }

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px; }

.social__link svg {
  fill: #231f20; }

@media (min-width: 768px) {
  .social {
    border: none; } }

@media (min-width: 1200px) {
  .social__list {
    padding: 0; } }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0; }

.copyright__text {
  font-size: 19px;
  color: #000000;
  padding-right: 30px; }

@media (min-width: 768px) {
  .copyright {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 1200px) {
  .copyright {
    padding: 0; } }

body {
  padding: 0;
  font: 400 15px/20px "Open Sans", arial, sans-serif;
  color: #444444;
  min-width: 320px;
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

svg {
  fill: #63d1bb; }

picture {
  width: 100%; }

.product-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.product-list__item {
  width: 100%; }
  .product-list__item a {
    text-decoration: none;
    font-weight: 700;
    color: #444444; }

@media (max-width: 767px) {
  .product-list__item {
    padding: 30px 0;
    border-bottom: 1px solid #ececec;
    padding-left: calc(50% - 85px); }
    .product-list__item a {
      font-size: 17px; } }

@media (min-width: 768px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: initial; }
  .product-list__item {
    min-width: 185px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media (min-width: 1200px) {
  .product-list__item:first-child {
    border-right: 1px solid #ececec; }
  .product-list__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 185px;
    padding: 33px 0; }
  .product-list__item:last-child {
    width: auto;
    padding-left: 35px; } }

.sale-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.sale-list__item a {
  text-decoration: none;
  font-weight: 700;
  color: #444444; }

.sale-list__item--delivery {
  margin-left: auto; }
  .sale-list__item--delivery a {
    font-weight: 400; }

@media (min-width: 1200px) {
  .sale-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: initial;
    position: absolute;
    top: calc(100% + 20px);
    z-index: 10; }
  .sale-list__item {
    min-width: 185px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .sale-list__item:last-child {
    width: auto;
    padding-left: 35px; } }

.basket svg {
  fill-opacity: 0.2;
  fill: #231f20;
  margin-right: 32px; }

.basket__link {
  text-decoration: none;
  color: #444444;
  font-weight: 700; }

@media (max-width: 767px) {
  .basket {
    display: block;
    padding: 30px 0;
    position: relative;
    padding-left: calc(50% - 85px); }
    .basket svg {
      position: absolute;
      left: calc(50% - 130px); }
  .basket__link {
    font-size: 17px;
    line-height: 21px;
    position: relative; } }

@media (min-width: 768px) {
  .basket {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

@media (max-width: 767px) {
  .user-nav {
    width: 100%; } }

.user-nav {
  line-height: 0; }

@media (min-width: 768px) {
  .user-nav {
    padding-left: 32px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; } }

@media (max-width: 767px) {
  .site-nav {
    width: 100%; } }

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .site-nav__product {
    position: absolute;
    top: calc(100% + 63px);
    z-index: 10; } }

@media (min-width: 1200px) {
  .site-nav__product {
    position: static; } }

/*# sourceMappingURL=style.css.map */
