/* Граница */
$border: 1px solid #ececec;

/* Цвета */
$color-gray: #444444;
$color-gray-opacity: #4444444d;
$title-color: #000000;
$color-black: #010000;
$color-white: #ffffff;
$color-lime: #62d1ba;
$color-green: #63d1bb;
$fill-svg-black: #231f20;
$fill-svg-lime: #3bb09d;
$fill-svg-lime-analog: #35a999;
$bg-lime: #56c3b2;
$color-light-gray: #f1f1f1;

/* Шрифт */
$font: "Open Sans", arial, sans-serif;

/* Размеры экранов */
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: $tablet-width - 1;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
