$border: 1px solid #ececec;
$font-color: #444444;
$title-color: #000000;
$color-white: #ffffff;
$color-green: #63d1bb;
$font: "Open Sans", Arial, sans-serif;
$tablet-width: 768px;
$desktop-width: 1200px;
